# Telnyx pricing

Telnyx pricing is so complicated, they provide a huge csv file and say "Goodluck", so that is what we need to figure out.

import pands

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("global_convbb_25f7237036.csv")

/var/folders/f3/ykt1vfz96xz48try_trwdn440000gn/T/ipykernel_34238/1867466493.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("global_convbb_25f7237036.csv")

In [12]:
df[df["Country"]== "United States"].sort_values(by="Rate", ascending=False).to_csv("rates_us_sorted.csv")

In [14]:
df[df["Country"]== "Netherlands"]["Origination Prefixes"].unique()

array([nan, 'local',
       '30, 31, 32, 33, 34, 351, 352, 353, 354, 356, 357, 358, 359, 36, 370, 371, 372, 385, 386, 39, 40, 420, 421, 423, 43, 45, 46, 47, 48, 49',
       '1340, 1441, 1721, 1787, 1809, 1829, 1849, 1939, 213, 230, 244, 258, 264, 268, 27, 298, 299, 350, 376, 377, 378, 41, 506, 507, 51, 52, 54, 55, 56, 57, 58, 590, 594, 595, 596, 598, 599, 60, 61, 62, 64, 65, 66, 673, 7, 81, 82, 84, 852, 855, 856, 86, 880, 886, 90, 91, 92, 965, 966, 972, 975, 976, 998'],
      dtype=object)

In [16]:
df[df["Country"]== "Netherlands"].sort_values(by="Rate", ascending=False).to_csv("rates_to_nl_sorted.csv")

In [19]:
df[df["Country"]== "Netherlands"].sort_values(by="Rate", ascending=False)["Description"].unique()

array(['Trunking Outbound Minute - Netherlands - Special Mobility Services',
       'Trunking Outbound Minute - Netherlands - Special Mobility Services - Non Surcharged',
       'Trunking Outbound Minute - Netherlands - Special Services',
       'Trunking Outbound Minute - Netherlands - Special Services - Non Surcharged',
       'Trunking Outbound Minute - Netherlands - Mobile Vodafone',
       'Trunking Outbound Minute - Netherlands - Mobile Vodafone - Non Surcharged',
       'Trunking Outbound Minute - Netherlands - Mobile - Local',
       'Trunking Outbound Minute - Netherlands - Mobile Lycamobile',
       'Trunking Outbound Minute - Netherlands - Mobile Lycamobile - Non Surcharged',
       'Trunking Outbound Minute - Netherlands - NGN Service - Local',
       'Trunking Outbound Minute - Netherlands - Mobile T-Mobile',
       'Trunking Outbound Minute - Netherlands - Mobile T-Mobile - Non Surcharged',
       'Trunking Outbound Minute - Netherlands - Mobile iBasis',
       'Trunking Outbound Minute - Netherlands - Mobile Tele2',
       'Trunking Outbound Minute - Netherlands - Mobile iBasis - Non Surcharged',
       'Trunking Outbound Minute - Netherlands - Mobile Tele2 - Non Surcharged',
       'Trunking Outbound Minute - Netherlands - Mobile',
       'Trunking Outbound Minute - Netherlands - Mobile - Non Surcharged',
       'Trunking Outbound Minute - Netherlands - Fixed - Local',
       'Trunking Outbound Minute - Netherlands - Freephone - Local',
       'Trunking Outbound Minute - Netherlands - Mobile Tismi',
       'Trunking Outbound Minute - Netherlands - Special Mobility Services - From EEA',
       'Trunking Outbound Minute - Netherlands - Mobile Tismi - Non Surcharged',
       'Trunking Outbound Minute - Netherlands - Mobile Tismi - From EEA',
       'Trunking Outbound Minute - Netherlands - Special Services - From EEA',
       'Trunking Outbound Minute - Netherlands - Mobile iBasis - From EEA',
       'Trunking Outbound Minute - Netherlands - Mobile - From EEA',
       'Trunking Outbound Minute - Netherlands',
       'Trunking Outbound Minute - Netherlands - Non Surcharged',
       'Trunking Outbound Minute - Netherlands - From EEA',
       'Trunking Outbound Minute - Netherlands - Mobile Lycamobile - From EEA',
       'Trunking Outbound Minute - Netherlands - Mobile Vodafone - From EEA',
       'Trunking Outbound Minute - Netherlands - Mobile T-Mobile - From EEA',
       'Trunking Outbound Minute - Netherlands - Mobile Tele2 - From EEA',
       'Trunking Outbound Minute - Netherlands - Mobile Telfort',
       'Trunking Outbound Minute - Netherlands - Mobile Telfort - Non Surcharged',
       'Trunking Outbound Minute - Netherlands - Mobile Telfort - From EEA'],
      dtype=object)

In [24]:
df[df["Country"]== "Netherlands"]["Origination Prefixes"].loc[76118]

'30, 31, 32, 33, 34, 351, 352, 353, 354, 356, 357, 358, 359, 36, 370, 371, 372, 385, 386, 39, 40, 420, 421, 423, 43, 45, 46, 47, 48, 49'

In [65]:
df[(df["Country"]== "Netherlands") & (df["Origination Prefixes"].str.contains("40", na=False))].sort_values(by="Rate", ascending=False).to_csv("test.csv")

In [ ]:
df[(df["Destination Prefixes"].str.contains("316", na=False)) & (df["Country"]== "Netherlands")]

Empty DataFrame
Columns: [ISO, Country, Origination Prefixes, Destination Prefixes, Description, Interval 1, Interval N, Rate]
Index: []

In [ ]:
df[(df["Destination Prefixes"].str.contains("^316", na=False)) & (df["Country"] == "Netherlands")]

Empty DataFrame
Columns: [ISO, Country, Origination Prefixes, Destination Prefixes, Description, Interval 1, Interval N, Rate]
Index: []

In [ ]:
df[df[""]== "Netherlands"]

df["Destination Prefixes"]

,ISO,Country,Origination Prefixes,Destination Prefixes,Description,Interval 1,Interval N,Rate
75098,NL,Netherlands,NaN,31,Trunking Outbound Minute - Netherlands,60,60,0.0070
75099,NL,Netherlands,local,311,Trunking Outbound Minute - Netherlands - Fixed...,60,60,0.0135
75100,NL,Netherlands,local,312,Trunking Outbound Minute - Netherlands - Fixed...,60,60,0.0135
75101,NL,Netherlands,local,313,Trunking Outbound Minute - Netherlands - Fixed...,60,60,0.0135
75102,NL,Netherlands,local,314,Trunking Outbound Minute - Netherlands - Fixed...,60,60,0.0135
...,...,...,...,...,...,...,...,...
76118,NL,Netherlands,"30, 31, 32, 33, 34, 351, 352, 353, 354, 356, 3...",3120244468,Trunking Outbound Minute - Netherlands - Speci...,60,60,0.0104
76119,NL,Netherlands,"1340, 1441, 1721, 1787, 1809, 1829, 1849, 1939...",3190,Trunking Outbound Minute - Netherlands - Speci...,60,60,0.2820
76120,NL,Netherlands,"1340, 1441, 1721, 1787, 1809, 1829, 1849, 1939...",31850779,Trunking Outbound Minute - Netherlands - Speci...,60,60,0.2820
76121,NL,Netherlands,"1340, 1441, 1721, 1787, 1809, 1829, 1849, 1939...",317439018,Trunking Outbound Minute - Netherlands - Speci...,60,60,0.2820
76122,NL,Netherlands,"1340, 1441, 1721, 1787, 1809, 1829, 1849, 1939...",3120244468,Trunking Outbound Minute - Netherlands - Speci...,60,60,0.2820

In [46]:
df[(df["Country"]== "Germany") & (df["Origination Prefixes"].str.contains("40", na=False))].sort_values(by="Rate", ascending=False)

,ISO,Country,Origination Prefixes,Destination Prefixes,Description,Interval 1,Interval N,Rate
24695,DE,Germany,"30, 31, 32, 33, 34, 351, 352, 353, 354, 356, 3...",4950000000000,Trunking Outbound Minute - Germany - Special S...,60,60,2.9460
24689,DE,Germany,"30, 31, 32, 33, 34, 351, 352, 353, 354, 356, 3...",49191,Trunking Outbound Minute - Germany - Special S...,60,60,2.9460
24684,DE,Germany,"30, 31, 32, 33, 34, 351, 352, 353, 354, 356, 3...",4912,Trunking Outbound Minute - Germany - Special S...,60,60,2.9460
24685,DE,Germany,"30, 31, 32, 33, 34, 351, 352, 353, 354, 356, 3...",4913,Trunking Outbound Minute - Germany - Special S...,60,60,2.9460
24686,DE,Germany,"30, 31, 32, 33, 34, 351, 352, 353, 354, 356, 3...",49116,Trunking Outbound Minute - Germany - Special S...,60,60,2.9460
...,...,...,...,...,...,...,...,...
24585,DE,Germany,"30, 31, 32, 33, 34, 351, 352, 353, 354, 356, 3...",4915510,Trunking Outbound Minute - Germany - Mobile Le...,60,60,0.0096
24586,DE,Germany,"30, 31, 32, 33, 34, 351, 352, 353, 354, 356, 3...",4915511,Trunking Outbound Minute - Germany - Mobile Le...,60,60,0.0096
24587,DE,Germany,"30, 31, 32, 33, 34, 351, 352, 353, 354, 356, 3...",491550010,Trunking Outbound Minute - Germany - Mobile Le...,60,60,0.0096
24588,DE,Germany,"30, 31, 32, 33, 34, 351, 352, 353, 354, 356, 3...",491550011,Trunking Outbound Minute - Germany - Mobile Le...,60,60,0.0096
24499,DE,Germany,"30, 31, 32, 33, 34, 351, 352, 353, 354, 356, 3...",49800,Trunking Outbound Minute - Germany - Freephone...,60,60,0.0035

In [55]:
df[(df["Country"]== "Germany") & (df["Origination Prefixes"].str.contains("40", na=False)) & (df["Rate"] < 0.02)].sort_values(by="Rate", ascending=True)

,ISO,Country,Origination Prefixes,Destination Prefixes,Description,Interval 1,Interval N,Rate
24499,DE,Germany,"30, 31, 32, 33, 34, 351, 352, 353, 354, 356, 3...",49800,Trunking Outbound Minute - Germany - Freephone...,60,60,0.0035
24585,DE,Germany,"30, 31, 32, 33, 34, 351, 352, 353, 354, 356, 3...",4915510,Trunking Outbound Minute - Germany - Mobile Le...,60,60,0.0096
24586,DE,Germany,"30, 31, 32, 33, 34, 351, 352, 353, 354, 356, 3...",4915511,Trunking Outbound Minute - Germany - Mobile Le...,60,60,0.0096
24587,DE,Germany,"30, 31, 32, 33, 34, 351, 352, 353, 354, 356, 3...",491550010,Trunking Outbound Minute - Germany - Mobile Le...,60,60,0.0096
24588,DE,Germany,"30, 31, 32, 33, 34, 351, 352, 353, 354, 356, 3...",491550011,Trunking Outbound Minute - Germany - Mobile Le...,60,60,0.0096
24590,DE,Germany,"30, 31, 32, 33, 34, 351, 352, 353, 354, 356, 3...",491521,Trunking Outbound Minute - Germany - Mobile Ly...,60,60,0.0130
24592,DE,Germany,"30, 31, 32, 33, 34, 351, 352, 353, 354, 356, 3...",491579,Trunking Outbound Minute - Germany - Mobile Si...,60,60,0.0147
24642,DE,Germany,"30, 31, 32, 33, 34, 351, 352, 353, 354, 356, 3...",4915019,Trunking Outbound Minute - Germany - Mobile Ti...,60,60,0.0147
24644,DE,Germany,"30, 31, 32, 33, 34, 351, 352, 353, 354, 356, 3...",491529,Trunking Outbound Minute - Germany - Mobile Tr...,60,60,0.0147
24495,DE,Germany,"30, 31, 32, 33, 34, 351, 352, 353, 354, 356, 3...",4932,Trunking Outbound Minute - Germany - Fixed IP ...,60,60,0.0166

In [50]:
df[0.04 < df["Rate"] < 0.05]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().